.book-details {
  width: 355px;
  height: auto;
  max-height: 97vh;
  z-index: 3;
  background-color: var(--book-details-bg);
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  pointer-events: all;
  @media screen and (min-width: 450px) and (max-height: 720px) {
    flex-direction: row;
    width: auto;
    max-width: 600px;
  }
  @media screen and (max-width: 449px) and (min-height: 721px) {
    margin: 0 27px;
  }
}

.book-details__img-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  @media screen and (min-width: 450px) and (max-height: 720px) {
    min-width: 200px;
  }
}

.book-details__img {
  pointer-events: none;
  width: 100%;
  max-height: 80vh;
  overflow: auto;
  @media screen and (min-width: 450px) and (max-height: 720px) {
    width: 100%;
  }
  @media screen and (max-width: 449px) and (max-height: 720px) {
    margin: 0px 26px;
  }
}

.book-details__description {
  pointer-events: none;
  margin: 7px;
}

.book-details__title {
  margin: 0px 0px 2px 0px;
  padding-top: 1px;
  pointer-events: none;
  max-height: 110px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 400;
  color: var(--book-details__title);
}

.book-details__author {
  margin: 0px 0px 2px 0px;
  padding: 3px 0;
  pointer-events: none;
  max-height: 55px;
  overflow: hidden;
  font-size: 14px;
  color: var(--book-details__author);
  font-family: 'Ubuntu';
}

.book-details__other {
  color: var(--book-details__other);
  margin-top: 5px;
  font-size: 12px;
  overflow: hidden;
  max-height: 100px;
}
