.zero-book {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  color: var(--text);
  &__title {
    text-align: center;
    margin: 10px;
    font-size: 25px;
  }
  &__text {
    text-align: center;
    font-size: 15px;
  }
}
