@import '../../styles/variables.scss';

.main {
  padding-top: 48px;
  &__container {
    height: 100%;
    display: flex;
  }
  @media screen and (max-width: $mobile-display) { 
    padding-top: 74px;
  }
}