@import '../../styles/variables.scss';

.scroll {
  height: calc(100vh - 73px);
  margin: 0 3px;
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow: overlay;
  position: relative;
  @media screen and (max-width: $mobile-display) { 
    height: calc(100vh - 99px);
  }
}
