:root {
  --header: #333;
  --header-light: #e5e5e5;;
  --header-title: #ababab;
  --body: #fafafa;

  --input:#ffffff;
  --input__box:#f1f1f1;
  --input__control:#888888;
  --input__control_color: #9c9c9c;
  --input__control_placeholder: #c5c5c5;
  --scroll:#b6b6b6;

  --button-bg: #2f9ee7;
  --button-border: #2f9ee7;
  --button-hover: #2b98df;
  --button-active: #248cd1;
  --button-text: #fff;

  --mt: #dcdcdc;

  --blue: #2f9ee7;
  --orange:#ffb400;

  --book-card__title:#303030;
  --book-card__title--hover: #bd1717;
  --book-card__author: #bbbbbb;
  --book-card__author--hover:#cfcfcf;

  --theme-button-border: #444444;
  --theme-button-border-hover:#4e4e4e;
}
