$mobile-display: 540px;

:root {
  --body: #fafafa;
  --scroll: #b6b6b6;
  --text: #666;

  --preloader: #eee;
  --preloader-mini: #fec432;
  --header: #fafafa;
  --theme-button-border: #444444;
  --theme-button-border-hover: #4e4e4e;

  --input__box: #f1f1f1;
  --input__box-border-top: var(--header);
  --input__box-border-bottom: var(--input__box);
  --input__box-border-focus: #bebebe;
  --input__control: #888888;
  --input__control_color: #9c9c9c;
  --input__control_placeholder: #c5c5c5;
  --input__icon_search: #d5d5d5;
  --input__icon_clear: #000;

  --button-text: #9b9b9b;
  --button-hover: #707070;
  --button-active: #555;

  --mini-button-color: var(--input__icon_clear);
  --mini-button-hover: #888;

  --book-card__title: #303030;
  --book-card__title--hover: #bd1717;
  --book-card__author: #bbbbbb;
  --book-card__author--hover: #cfcfcf;
}

:root[theme='moon'] {
  --body: #282828;
  --scroll: #b6b6b6;
  --text: #999;

  --preloader: #9b6d00;
  --preloader-mini:#9b6d00;
  --header: #222;
  --theme-button-border: #444444;
  --theme-button-border-hover: #4e4e4e;

  --input__box: #2d2d2d;
  --input__box-border-top: var(--header);
  --input__box-border-bottom: var(--input__box);
  --input__box-border-focus: #aa7a00;
  --input__control: #888888;
  --input__control_color: #9c9c9c;
  --input__control_placeholder: #c5c5c5;
  --input__icon_search: #616161;
  --input__icon_clear: #fff;

  --button-text: #9b9b9b;
  --button-hover: #b6b6b6;
  --button-active: #aa7a00;

  --mini-button-color: var(--input__icon_clear);
  --mini-button-hover: #cc9208;

  --book-card__title: #bfbfbf;
  --book-card__title--hover: #bb8400;
  --book-card__author: #787878;
  --book-card__author--hover: #898989;
  --book-card__author: #898989;
  --book-card__author--hover: #787878;
}
