:root {
  --blue: #2f9ee7;
  --orange: #ffb400;

  --header: #333;
  --header-light: #e5e5e5;
  --header-title: #ababab;
  --body: #fafafa;
  --text: #444;

  --input: #ffffff;
  --input__box: #f1f1f1;
  --input__box-border: var(--input__box);
  --input__box-border-focus: var(--orange);
  --input__control: #888888;
  --input__control_color: #9c9c9c;
  --input__control_placeholder: #c5c5c5;
  --input__icon_search: #c5c5c5;
  --input__icon_clear: #000;
  --scroll: #b6b6b6;

  --button-bg: var(--orange);
  --button-border: var(--orange);
  --button-hover: #ffbe1e;
  --button-active: var(--orange);
  --button-text: #333;

  --mt: #dcdcdc;

  --book-card__title: #303030;
  --book-card__title--hover: #bd1717;
  --book-card__author: #bbbbbb;
  --book-card__author--hover: #cfcfcf;

  --theme-button-border: #444444;
  --theme-button-border-hover: #4e4e4e;

  --preloader: #eee;
}

:root[theme='moon'] {
  --blue: #2f9ee7;
  --orange: #ffb400;
  --header: #222;
  --header-light: #e5e5e5;
  --header-title: #ababab;
  --body: #282828; // dark
  --text: #999;

  --input: #ffffff;
  --input__box: #282828;
  --input__box-border: #888888;
  --input__box-border-focus: var(--orange);
  --input__control: #888888;
  --input__control_color: #9c9c9c;
  --input__control_placeholder: #c5c5c5;
  --input__icon_search: #777;
  --input__icon_clear: #fff;
  --scroll: #b6b6b6;

  --button-bg: var(--orange);
  --button-border: var(--orange);
  --button-hover: #ffbe1e;
  --button-active: var(--orange);
  --button-text: #333;

  --mt: #dcdcdc;

  --book-card__title: #bfbfbf;
  --book-card__title--hover: #bb8400;
  --book-card__author: #787878;
  --book-card__author--hover: #898989;
  --book-card__author: #898989;
  --book-card__author--hover: #787878;

  --theme-button-border: #444444;
  --theme-button-border-hover: #4e4e4e;

  --preloader: #9b6d00;
}
