.books-list {
  padding: 0 10px;
  width: 100%;
  max-width: 720px;
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-gap: 1.1rem;
    justify-content: space-between;
    margin-top: 10px;
  }
  @media screen and (max-width:740px) {
    max-width: 640px;
  }
  @media screen and (max-width:640px) {
    max-width: 540px;
  }
  @media screen and (max-width:480px) {
    max-width: 420px;
  }
  @media screen and (max-width:364px) {
    max-width: 260px;
  }
  @media screen and (max-width:250px) {
    max-width: 220px;
  }
}