.books-list {
  padding: 10px 3px 10px 12px;
}

.books-list__container {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.books-list__scroll {
  height: calc(100vh - 105px);
  // margin: 0px 3px 0px 10px;
  /* margin: 0px 0px 0px 0px; */
  padding: 0px 0px 0px 0px;
  overflow: overlay;
  position: relative;
}

.books-list__about {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 36px;

  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 3px 0px 0px 15px;

  width: 86%;
  margin: 0px 0px 0px 16px;
  padding: 0px 0px 2px 0px;
  
  /* background-color: gainsboro; */
  border-top: 1px solid var(--mt);
}
.books-list__item {
  font-size: 11px;
  font-family: 'Roboto Mono';
  color:var(--mt);
  color: #a9a9a9;
}

.books-list__container {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}