.books-list {
  padding: 6px 3px 6px 12px;
  width: 100%;
  max-width: 720px;
}

.books-list__scroll {
  height: calc(100vh - 105px);
  padding: 0px 0px 0px 0px;
  overflow: overlay;
}

.books-list__container {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  grid-gap: 20px 17px;
}