.book-card {
  padding: 0px 0px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-gap: 5px;
  cursor: pointer;
  &:hover {
    .book-card__img {
      // filter: opacity(70%);
      filter: brightness(88%);
    }
    .book-card__title {
      color: var(--book-card__title--hover);
    }
    .book-card__author {
      color: var(--book-card__author--hover);
    }
  }
  // @media screen and (max-width: 364px) {
  //   width: auto;
  //   height: auto;
  // }
  // @media screen and (max-width: 270px) {
  //   width: auto;
  //   height: auto;
  // }
}

.book-card__img-container {
  height: 145px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;  
  @media screen and (max-width: 364px) {
    height: auto;
  }
}

.book-card__img {
  pointer-events: none;
  height: auto;
  width: 100%;
  border-radius: 4px;
  overflow: auto;
}

.book-card__description {
  pointer-events: none;
  width: 100%;
  height: 60px;
  // box-shadow: 0px 6px 11px -10px rgba(0, 0, 0, 0.3);
}

.book-card__title {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 2px 0px;
  pointer-events: none;
  max-height: 28px;
  overflow: hidden;
  font-size: 12px;
  font-weight: 400;
  word-break: break-all;
  color: var(--book-card__title);
}

.book-card__author {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  pointer-events: none;
  max-height: 28px;
  overflow: hidden;
  font-size: 12px;
  color: var(--book-card__author);
}
