.book-card__container {
  pointer-events: none;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  &--read-list {
    display: block;
  }
}

.book-card {
  padding: 4px 5px 4px 5px;
  margin: 0px 10px 0px 0px;
  margin: 0px 3px 0px 0px;
  margin: 0px 6px 0px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
  gap: 0px;
  cursor: pointer;
  &__header {
    pointer-events: none;
    width: 100%;
  }
  &__img {
    pointer-events: none;
  }
  &--read-false {
    padding: 5px 10px;
    border-radius: 0px;
    /* cursor: auto; */
    background-color: var(--book-card--read-list);
    border-bottom: 2px solid var(--book-card--read-list-b);
  }
  &--read-true {
    padding: 5px 10px;
    border-radius: 0px;
    /* cursor: auto; */
    background-color: var(--book-card--read);
    border-bottom: 2px solid var(--mt);
  }
  &:hover {
    background-color: var(--book-card--hover);
    border-radius: 2px;
  }
  &--active {
    background-color: var(--book-card--active);
    border-radius: 4px;
    &:hover {
      background-color: var(--book-card--active);
      border-radius: 2px;
    }
  }


}


.book-card__img {
  height: auto;
  width: 50px;
}
.book-card__title {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  pointer-events: none;
  // new
  font-size: 14px;
  color: var(--book-card__title);
}
.book-card__subtitle {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  pointer-events: none;
  font-size: 13px;  
  color: var(--book-card__subtitle);
}
.book-card__lang {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  pointer-events: none;
  font-size: 11px;  
  color: var(--book-card__lang);
}


.book-card__author {
  padding: 0px 0px 0px 0px;
  margin: 5px 0px 0px 0px;
  pointer-events: none;
  font-size: 13px;  
  max-height: 30px;
  overflow: hidden;
  color: var(--book-card__author);
}

.book-card__buttons {
  padding: 0px 0px 0px 0px;
  margin: 7px 10px 0px 0px;
  font-size: 11px;  
  color: #a9a9a9;
  display: flex;
  justify-content: space-between;
}

.book-card__button {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
  pointer-events: all;
  font-size: 11px;  
  color: var(--book-card__button);
}

//////////////////////////////////////////
.book-card {
      /* padding: 4px 5px 4px 5px; */
    /* margin: 0px 10px 0px 0px; */
    /* margin: 0px 3px 0px 0px; */
    /* margin: 0px 0px 0px 0px; */
    width: 100px;
    height: 240px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
    /* grid-gap: 0px; */
    gap: 10px;
    cursor: pointer;
}

.book-card__container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.book-card__img {
  height: auto;
  width: 90px;
  border-radius: 5px;
}

.book-card__header {
  pointer-events: none;
  width: 100%;
  height: 60px;
}

.book-card__title {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  pointer-events: none;
  font-size: 14px;
  color: var(--book-card__title);
}

.book-card__author {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  pointer-events: none;
  font-size: 13px;
  color: var(--book-card__author);
} 